* {
	margin: 0;
	box-sizing: border-box;
}

main {
	max-height: 100vh;
}

body {
	background-color: rgb(157, 190, 190);
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-name: changeColor;
}

@keyframes changeColor {
	from {
		background-color: rgb(157, 190, 190);
	}
	to {
		background-color: rgb(170, 32, 89);
	}
}
